<section class="about-me-section">
  <div class="container">
    <h1 class="visually-hidden">About me</h1>
    <div class="about-me">
      <div class="about-me-description">
        <p class="about-me-parag">
          I work with people all over the world to create impressive and
          <span class="about-me-span">functional</span>
          <span class="about-me-span-2">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="about-me-description">
        <picture>
          <source
            media="(min-width: 1440px )"
            srcset="
              /img/about-me/desktop.webp    1x,
              /img/about-me/desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/about-me/tablet.webp    1x,
              /img/about-me/tablet@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/about-me/mobile.webp    1x,
              /img/about-me/mobile@2x.webp 2x
            "
          />
          <img
            src="/img/about-me/tablet@2x.webp"
            class="about-me-img"
            alt="Fullstack developer"
          />
        </picture>
      </div>
    </div>

    <div class="accordion-container">
      <ul class="about-me-list my-accordion">
        <li class="about-me-li">
          <div class="about-me-header-wrapper ac">
            <button type="button" class="about-me-btn ac-trigger">
              <p class="about-me-header">about me</p>
              <span class="span-svg">
                <svg width="20" height="20" class="about-me-svg">
                  <use href="/img/icons.svg#icon-arrow-down"></use>
                </svg>
              </span>
            </button>
          </div>
          <div class="about-me-grid ac-panel is-active">
            <p class="about-me-paragrah first-paragrah ac-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="about-me-paragrah second-paragrah ac-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="about-me-li">
          <div class="about-me-header-wrapper ac">
            <button type="button" class="about-me-btn ac-trigger">
              <p class="about-me-header">role</p>
              <span class="span-svg">
                <svg width="20" height="20" class="about-me-svg">
                  <use href="/img/icons.svg#icon-arrow-down"></use>
                </svg>
              </span>
            </button>
          </div>
          <div class="about-me-descr-role about-me-grid ac-panel">
            <ul class="role-list ac-text">
              <li class="role-li">Frontend development</li>
              <li class="role-li">HeadlessCMS,Wordpress</li>
              <li class="role-li">Blender(enjoy)</li>
            </ul>
          </div>
        </li>
        <li class="about-me-li">
          <div class="about-me-header-wrapper about-me-descr ac">
            <button type="button" class="about-me-btn ac-trigger">
              <p class="about-me-header">education</p>
              <span class="span-svg">
                <svg width="20" height="20" class="about-me-svg">
                  <use href="/img/icons.svg#icon-arrow-down"></use>
                </svg>
              </span>
            </button>
          </div>
          <div class="about-me-descr-educ about-me-grid ac-panel">
            <ul class="education-list ac-text">
              <li class="education-li">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </li>
              <li class="education-li">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </li>
              <li class="education-li">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="about-me-swiper-box">
      <div class="swiper about-me-swiper-container">
        <ul class="about-me-skills-list swiper-wrapper">
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">HTML/CSS</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">JavaScript</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">React</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">Node.js</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">React Native</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">Soft skills</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">HTML/CSS</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">JavaScript</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">React</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">Node.js</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">React Native</p>
          </li>
          <li class="about-me-skills-li swiper-slide">
            <p class="skills-text">Soft skills</p>
          </li>
        </ul>
      </div>

      <div>
        <button class="about-me-swiper-btn" type="button">
          <svg width="40" height="40">
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
