<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <div class="content">
      <ul class="benefits-list">
        <li class="benefits-item">
          <div class="wrapper">
            <div class="svg-container-benefits">
              <svg class="benefits-icons" width="24" height="24">
                <use href="/img/icons.svg#icon-user"></use>
              </svg>
            </div>
            <h3 class="benefits-item-header">Expertise</h3>
            <p class="benefits-item-text">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <div class="wrapper">
            <div class="svg-container-benefits">
              <svg class="benefits-icons" width="48" height="48">
                <use href="/img/icons.svg#icon-message-chat-circle"></use>
              </svg>
            </div>
            <h3 class="benefits-item-header">Communication</h3>
            <p class="benefits-item-text">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <div class="wrapper">
            <div class="svg-container-benefits">
              <svg class="benefits-icons" width="48" height="48">
                <use href="/img/icons.svg#icon-brush"></use>
              </svg>
            </div>
            <h3 class="benefits-item-header">Art</h3>
            <p class="benefits-item-text">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <div class="wrapper">
            <div class="svg-container-benefits">
              <svg class="benefits-icons" width="48" height="48">
                <use href="/img/icons.svg#icon-hourglass"></use>
              </svg>
            </div>
            <h3 class="benefits-item-header">Urgent execution</h3>
            <p class="benefits-item-text">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </div>
        </li>
      </ul>
      <button class="benefits-btn" type="button" href="#work-together">
        Order the project
      </button>
    </div>
  </div>
</section>
