
<section class="covers section-covers">
  <div >
    <h2 class="visually-hidden">Covers</h2>
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

    <div class="content">
      <div class="marquee">
        <div class="marquee__inner"> 
        <img src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
      </div> 

      <div class="marquee__inner"> 
        <img src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
      </div> 

      <div class="marquee__inner"> 
        <img src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
      </div> 

      <div class="marquee__inner"> 
        <img src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
      </div> 
      
    </div>
    </div>  


  </div>
</section>

