
<section class="covers section-covers">
  <div >
    <h2 class="visually-hidden">Covers</h2>
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

    <div class="content">
      <div class="marquee">

        <!-- first line -->
        <div class="marquee__inner"> 
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/covers-first.jpg 1x,
              /img/covers/covers-first@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/covers-mobile-first.jpg 1x,
              /img/covers/mobile/covers-mobile-first@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-first.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/covers-second.jpg 1x,
              /img/covers/covers-second@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/covers-mobile-second.jpg 1x,
              /img/covers/mobile/covers-mobile-second@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-second.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-third.jpg 1x,
              /img/covers/cover-third@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-third.jpg 1x,
              /img/covers/mobile/cover-mobile-third@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-third.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fourth.jpg 1x,
              /img/covers/cover-fourth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fourth.jpg 1x,
              /img/covers/mobile/cover-mobile-fourth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fourth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fifth.jpg 1x,
              /img/covers/cover-fifth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fifth.jpg 1x,
              /img/covers/mobile/cover-mobile-fifth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fifth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-sixth.jpg 1x,
              /img/covers/cover-sixth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-sixth.jpg 1x,
              /img/covers/mobile/cover-mobile-sixth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-sixth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-seventh.jpg 1x,
              /img/covers/cover-seventh@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-seventh.jpg 1x,
              /img/covers/mobile/cover-mobile-seventh@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-seventh.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-eighth.jpg 1x,
              /img/covers/cover-eighth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-eighth.jpg 1x,
              /img/covers/mobile/cover-mobile-eighth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-eighth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-ninth.jpg 1x,
              /img/covers/cover-ninth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-ninth.jpg 1x,
              /img/covers/mobile/cover-mobile-ninth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-ninth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px)"
              srcset="
              /img/covers/cover-tenth.jpg 1x,
              /img/covers/cover-tenth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-tenth.jpg 1x,
              /img/covers/mobile/cover-mobile-tenth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-tenth.jpg"
              
              alt="cover-image" 
            />
          </picture>
          
        </div> 

<!-- second line -->
        <div class="marquee__inner"> 
          
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fourth.jpg 1x,
              /img/covers/cover-fourth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fourth.jpg 1x,
              /img/covers/mobile/cover-mobile-fourth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fourth.jpg"
              
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
            media="(min-width: 768px )"
            srcset="
            /img/covers/covers-second.jpg 1x,
            /img/covers/covers-second@2x.jpg 2x
            "
            />
            <source
            media="(max-width: 767px)"
            srcset="
            /img/covers/mobile/covers-mobile-second.jpg 1x,
            /img/covers/mobile/covers-mobile-second@2x.jpg 2x
            "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-second.jpg"
          
            alt="cover-image" 
            />
          </picture>
          
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/covers-first.jpg 1x,
              /img/covers/covers-first@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/covers-mobile-first.jpg 1x,
              /img/covers/mobile/covers-mobile-first@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-first.jpg"
              
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-third.jpg 1x,
              /img/covers/cover-third@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-third.jpg 1x,
              /img/covers/mobile/cover-mobile-third@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-third.jpg"
           
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-sixth.jpg 1x,
              /img/covers/cover-sixth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-sixth.jpg 1x,
              /img/covers/mobile/cover-mobile-sixth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-sixth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fifth.jpg 1x,
              /img/covers/cover-fifth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fifth.jpg 1x,
              /img/covers/mobile/cover-mobile-fifth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fifth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-ninth.jpg 1x,
              /img/covers/cover-ninth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-ninth.jpg 1x,
              /img/covers/mobile/cover-mobile-ninth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-ninth.jpg"
           
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-seventh.jpg 1x,
              /img/covers/cover-seventh@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-seventh.jpg 1x,
              /img/covers/mobile/cover-mobile-seventh@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-seventh.jpg"
             
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-eighth.jpg 1x,
              /img/covers/cover-eighth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-eighth.jpg 1x,
              /img/covers/mobile/cover-mobile-eighth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-eighth.jpg"
          
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-tenth.jpg 1x,
              /img/covers/cover-tenth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-tenth.jpg 1x,
              /img/covers/mobile/cover-mobile-tenth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-tenth.jpg"
             
              alt="cover-image" 
            />
          </picture>
          
        </div> 

<!-- third line -->
        <div class="marquee__inner"> 
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/covers-second.jpg 1x,
              /img/covers/covers-second@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/covers-mobile-second.jpg 1x,
              /img/covers/mobile/covers-mobile-second@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-second.jpg"
              
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/covers-first.jpg 1x,
              /img/covers/covers-first@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/covers-mobile-first.jpg 1x,
              /img/covers/mobile/covers-mobile-first@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-first.jpg"
             
              alt="cover-image" 
            />
          </picture>

          

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-third.jpg 1x,
              /img/covers/cover-third@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-third.jpg 1x,
              /img/covers/mobile/cover-mobile-third@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-third.jpg"
              
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fifth.jpg 1x,
              /img/covers/cover-fifth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fifth.jpg 1x,
              /img/covers/mobile/cover-mobile-fifth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fifth.jpg"
             
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-sixth.jpg 1x,
              /img/covers/cover-sixth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-sixth.jpg 1x,
              /img/covers/mobile/cover-mobile-sixth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-sixth.jpg"
            
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-seventh.jpg 1x,
              /img/covers/cover-seventh@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-seventh.jpg 1x,
              /img/covers/mobile/cover-mobile-seventh@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-seventh.jpg"
              
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fourth.jpg 1x,
              /img/covers/cover-fourth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fourth.jpg 1x,
              /img/covers/mobile/cover-mobile-fourth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fourth.jpg"
           
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-eighth.jpg 1x,
              /img/covers/cover-eighth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-eighth.jpg 1x,
              /img/covers/mobile/cover-mobile-eighth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-eighth.jpg"
             
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-ninth.jpg 1x,
              /img/covers/cover-ninth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-ninth.jpg 1x,
              /img/covers/mobile/cover-mobile-ninth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-ninth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-tenth.jpg 1x,
              /img/covers/cover-tenth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-tenth.jpg 1x,
              /img/covers/mobile/cover-mobile-tenth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-tenth.jpg"
             
              alt="cover-image" 
            />
          </picture>
          
        </div> 

<!-- fourth line -->
        <div class="marquee__inner"> 
          
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fourth.jpg 1x,
              /img/covers/cover-fourth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fourth.jpg 1x,
              /img/covers/mobile/cover-mobile-fourth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fourth.jpg"
             
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-fifth.jpg 1x,
              /img/covers/cover-fifth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-fifth.jpg 1x,
              /img/covers/mobile/cover-mobile-fifth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-fifth.jpg"
             
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-sixth.jpg 1x,
              /img/covers/cover-sixth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-sixth.jpg 1x,
              /img/covers/mobile/cover-mobile-sixth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-sixth.jpg"
          
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-seventh.jpg 1x,
              /img/covers/cover-seventh@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-seventh.jpg 1x,
              /img/covers/mobile/cover-mobile-seventh@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-seventh.jpg"
             
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-ninth.jpg 1x,
              /img/covers/cover-ninth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-ninth.jpg 1x,
              /img/covers/mobile/cover-mobile-ninth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-ninth.jpg"
             
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-tenth.jpg 1x,
              /img/covers/cover-tenth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-tenth.jpg 1x,
              /img/covers/mobile/cover-mobile-tenth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-tenth.jpg"
             
              alt="cover-image" 
            />
          </picture>
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-eighth.jpg 1x,
              /img/covers/cover-eighth@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-eighth.jpg 1x,
              /img/covers/mobile/cover-mobile-eighth@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-eighth.jpg"
              
              alt="cover-image" 
            />
          </picture>

          
          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/covers-first.jpg 1x,
              /img/covers/covers-first@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/covers-mobile-first.jpg 1x,
              /img/covers/mobile/covers-mobile-first@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-first.jpg"
           
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/covers-second.jpg 1x,
              /img/covers/covers-second@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/covers-mobile-second.jpg 1x,
              /img/covers/mobile/covers-mobile-second@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/covers-mobile-second.jpg"
              
              alt="cover-image" 
            />
          </picture>

          <picture class="marquee__line  cover-img">
            <source
              media="(min-width: 768px )"
              srcset="
              /img/covers/cover-third.jpg 1x,
              /img/covers/cover-third@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
              /img/covers/mobile/cover-mobile-third.jpg 1x,
              /img/covers/mobile/cover-mobile-third@2x.jpg 2x
              "
            />
            <img loading="lazy" src="/img/covers/mobile/cover-mobile-third.jpg"
             
              alt="cover-image" 
            />
          </picture>

        </div> 

     

<!-- fifth line -->
    <div class="marquee__inner"> 
      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/covers-first.jpg 1x,
          /img/covers/covers-first@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/covers-mobile-first.jpg 1x,
          /img/covers/mobile/covers-mobile-first@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/covers-mobile-first.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/covers-second.jpg 1x,
          /img/covers/covers-second@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/covers-mobile-second.jpg 1x,
          /img/covers/mobile/covers-mobile-second@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/covers-mobile-second.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-third.jpg 1x,
          /img/covers/cover-third@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-third.jpg 1x,
          /img/covers/mobile/cover-mobile-third@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-third.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-fourth.jpg 1x,
          /img/covers/cover-fourth@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-fourth.jpg 1x,
          /img/covers/mobile/cover-mobile-fourth@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-fourth.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-fifth.jpg 1x,
          /img/covers/cover-fifth@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-fifth.jpg 1x,
          /img/covers/mobile/cover-mobile-fifth@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-fifth.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-sixth.jpg 1x,
          /img/covers/cover-sixth@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-sixth.jpg 1x,
          /img/covers/mobile/cover-mobile-sixth@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-sixth.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-seventh.jpg 1x,
          /img/covers/cover-seventh@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-seventh.jpg 1x,
          /img/covers/mobile/cover-mobile-seventh@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-seventh.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-eighth.jpg 1x,
          /img/covers/cover-eighth@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-eighth.jpg 1x,
          /img/covers/mobile/cover-mobile-eighth@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-eighth.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-ninth.jpg 1x,
          /img/covers/cover-ninth@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-ninth.jpg 1x,
          /img/covers/mobile/cover-mobile-ninth@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-ninth.jpg"
          
          alt="cover-image" 
        />
      </picture>

      <picture class="marquee__line  cover-img">
        <source
          media="(min-width: 768px )"
          srcset="
          /img/covers/cover-tenth.jpg 1x,
          /img/covers/cover-tenth@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /img/covers/mobile/cover-mobile-tenth.jpg 1x,
          /img/covers/mobile/cover-mobile-tenth@2x.jpg 2x
          "
        />
        <img loading="lazy" src="/img/covers/mobile/cover-mobile-tenth.jpg"
          
          alt="cover-image" 
        />
      </picture>
      
    </div> 

  </div>
</div>  

  </div>
</section>




        <!-- <img loading="lazy"  src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img loading="lazy"  src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img"> -->

      <!-- <div class="marquee__inner"> 
        <img  loading="lazy"  src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img  loading="lazy"  src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
      </div> 

      <div class="marquee__inner"> 
        <img  loading="lazy"  src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy"  src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy" src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img loading="lazy" src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy" src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
      </div> 

      <div class="marquee__inner"> 
        <img  loading="lazy" src="/img/covers/covers-second.jpg" 
        srcset="/img/covers/covers-second.jpg 1x, /img/covers/covers-second@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy" src="/img/covers/cover-ninth.jpg" 
        srcset="/img/covers/cover-ninth.jpg 1x, /img/covers/cover-ninth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-third.jpg" 
        srcset="/img/covers/cover-third.jpg 1x, /img/covers/cover-third@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-fourth.jpg" 
        srcset="/img/covers/cover-fourth.jpg 1x, /img/covers/cover-fourth@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy" src="/img/covers/covers-first.jpg" 
        srcset="/img/covers/covers-first.jpg 1x, /img/covers/covers-first@2x.jpg 2x" 
        alt="cover-image" 
        class="marquee__line  cover-img">
        <img loading="lazy"  src="/img/covers/cover-tenth.jpg" 
        srcset="/img/covers/cover-tenth.jpg 1x, /img/covers/cover-tenth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy" src="/img/covers/cover-fifth.jpg" 
        srcset="/img/covers/cover-fifth.jpg 1x, /img/covers/cover-fifth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img loading="lazy"  src="/img/covers/cover-sixth.jpg" 
        srcset="/img/covers/cover-sixth.jpg 1x, /img/covers/cover-sixth@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
        <img  loading="lazy" src="/img/covers/cover-seventh.jpg" 
        srcset="/img/covers/cover-seventh.jpg 1x, /img/covers/cover-seventh@2x.jpg 2x"  
        alt="cover-image" 
        class="marquee__line cover-img">
      </div>  -->
      
  

