<section id="FAQ" class="section faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-accordion faq-accordion-js" id="faq">
      <li class="faq-accordion-item">
        <div class="question-wrapper">
          <h3 class="question-title">
            What programming languages are most often used in your project?
          </h3>
          <button class="faq-arrow-button" type="button">
            <svg class="icon-faq" width="18" height="18">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-accordion-panel">
          <p class="supporting-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item">
        <div class="question-wrapper">
          <h3 class="question-title">
            What are the deadlines for the project?
          </h3>
          <button class="faq-arrow-button" type="button">
            <svg class="icon-faq" width="18" height="18">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-accordion-panel">
          <p class="supporting-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item">
        <div class="question-wrapper">
          <h3 class="question-title">What payment methods do you accept?</h3>
          <button class="faq-arrow-button" type="button">
            <svg class="icon-faq" width="18" height="18">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-accordion-panel">
          <p class="supporting-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item">
        <div class="question-wrapper">
          <h3 class="question-title">How can I contact you?</h3>
          <button class="faq-arrow-button" type="button">
            <svg class="icon-faq" width="18" height="18">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-accordion-panel">
          <p class="supporting-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item">
        <div class="question-wrapper">
          <h3 class="question-title">Do you provide advice or support?</h3>
          <button class="faq-arrow-button" type="button">
            <svg class="icon-faq" width="18" height="18">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-accordion-panel">
          <p class="supporting-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item">
        <div class="question-wrapper">
          <h3 class="question-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button class="faq-arrow-button" type="button">
            <svg class="icon-faq" width="18" height="18">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-accordion-panel">
          <p class="supporting-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
