<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="./" class="logo-block">
        <picture>
          <source
            srcset="/img/header/jefferson-desktop.png"
            media="(min-width: 1158px)"
          />
          <source
            srcset="/img/header/jefferson-tablet.png"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/header/jefferson-mobile.png"
            media="(max-width: 767px)"
          />
          <img
            loading="lazy"
            class="header-list-jefferson"
            src="/img/header/jefferson-mobile.png"
            alt="images"
            width="80"
            height="80"
          />
        </picture>
        <p class="titel-logo">jefferson*</p>
      </a>
      <!-- </div> -->
      <div class="tumb-menu">
        <div class="titel-menu">Menu</div>
        <nav class="nav-menu">
          <ul class="section-menu">
            <li class="box-menu">
              <a href="#about-me">About me</a>
            </li>
            <li class="box-menu">
              <a href="#benefits">Benefits</a>
            </li>
            <li class="box-menu">
              <a href="#projects">Projects</a>
            </li>
            <li class="box-menu">
              <a href="#FAQ">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>

      <button type="button" class="header-menu-btn">
        <svg class="header-menu-icon" width="28" height="28">
          <use href="/img/header/menu.svg#icon-menu"></use>
        </svg>
      </button>

      <a class="contacts-menu-submit" href="#work-together"
        >Order the project</a
      >
    </div>
  </div>

  <div class="modal-overley">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-icon" width="28" height="28">
        <use href="/img/header/close.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal">
      <nav class="nav-menu">
        <ul class="section-menu" id="mobile-menu">
          <li class="box-menu">
            <a href="#about-me">About me</a>
          </li>
          <li class="box-menu">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="box-menu">
            <a href="#projects">Projects</a>
          </li>
          <li class="box-menu">
            <a href="#FAQ">FAQ</a>
          </li>
        </ul>
      </nav>
      <a
        class="contacts-menu-submit"
        id="mobile-order-btn"
        href="#work-together"
        >Order the project</a
      >
    </div>
  </div>
</header>
