<section class="hero hero-glas-effect">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer <br />
      Lloyd Jefferson.
    </h1>
    <div class="hero-navigation">
      <ul class="hero-navigation-list">
        <li class="hero-navigation-item">
          <a
            class="hero-navigation-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            IG</a
          >
        </li>
        <li class="hero-navigation-item">
          <a
            class="hero-navigation-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="hero-navigation-item">
          <a
            class="hero-navigation-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT</a
          >
        </li>
        <li class="hero-navigation-item">
          <a
            class="hero-navigation-link"
            href="https://github.com/remezovskyi2508/fullstack-developer-resume"
            target="_blank"
            >GH</a
          >
        </li>
        <li class="hero-navigation-item hero-navigation-item-mail">
          <a
            class="hero-navigation-link hero-navigation-link-email"
            href="mailto:lloydjefferson@gmail.com"
            target="_blank"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
