<section class="projects">
  <div class="container">
    <div class="projects-section-container">
      <h2 class="projects-section-title">Projects</h2>
      <ul class="projects-section-list">
        <li class="projects-section-list-card">
          <div class="projects-section-list-card-info">
            <ul class="projects-card-info-skills">
              <li><p>#react</p></li>
              <li><p>#js</p></li>
              <li><p>#node js</p></li>
              <li><p>#git</p></li>
            </ul>
            <p>Programming Across Borders: Ideas, Technologies, Innovations</p>
            <button type="button" class="projects-section-list-card-button">
              See project
            </button>
          </div>
          <div class="projects-section-list-card-image">
            <img src="/img/projects-section/image 2.jpg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
