<section class="projects">
  <div class="container">
    <div class="projects-section-container">
      <h2 class="projects-section-title">Projects</h2>

      <div class="projects-section-swiper-container">
        <ul class="projects-section-list swiper-wrapper">
          <li class="swiper-slide">
            <div class="projects-section-list-card">
              <div class="projects-section-list-card-info">
                <ul class="projects-card-info-list">
                  <li class="projects-card-info-list-item"><p>#react</p></li>
                  <li class="projects-card-info-list-item"><p>#js</p></li>
                  <li class="projects-card-info-list-item"><p>#node js</p></li>
                  <li class="projects-card-info-list-item"><p>#git</p></li>
                </ul>
                <p class="projects-section-list-card-info-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <a
                  class="projects-section-list-card-link"
                  href="https://github.com/remezovskyi2508/fullstack-developer-resume"
                  target="_blank"
                  >See project</a
                >
              </div>
              <div class="projects-section-list-card-image">
                <picture class="projects-section-list-card-image-img">
                  <source
                    srcset="
                      /img/projects/read-journey.webp    1x,
                      /img/projects/read-journey@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                    width="614"
                    height="385"
                  />
                  <source
                    srcset="
                      /img/projects/read-journey-mobl.webp    1x,
                      /img/projects/read-journey-mobl@2x.webp 2x
                    "
                    media="(max-width: 767px)"
                    width="311"
                    height="195"
                  />
                  <img
                    src="/img/projects/read-journey.webp"
                    alt="Registration form and mobile phone"
                  />
                </picture>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="projects-section-list-card">
              <div class="projects-section-list-card-info">
                <ul class="projects-card-info-list">
                  <li class="projects-card-info-list-item"><p>#react</p></li>
                  <li class="projects-card-info-list-item"><p>#js</p></li>
                  <li class="projects-card-info-list-item"><p>#node js</p></li>
                  <li class="projects-card-info-list-item"><p>#git</p></li>
                </ul>
                <p class="projects-section-list-card-info-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <a
                  class="projects-section-list-card-link"
                  href="https://github.com/remezovskyi2508/fullstack-developer-resume"
                  target="_blank"
                  >See project</a
                >
              </div>
              <div class="projects-section-list-card-image">
                <picture class="projects-section-list-card-image-img">
                  <source
                    srcset="
                      /img/projects/petlove.webp    1x,
                      /img/projects/petlove@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                    width="614"
                    height="385"
                  />
                  <source
                    srcset="
                      /img/projects/petlove-mobl.webp    1x,
                      /img/projects/petlove-mobl@2x.webp 2x
                    "
                    media="(max-width: 767px)"
                    width="311"
                    height="195"
                  />
                  <img
                    src="/img/projects/petlove.webp"
                    alt="Dog and two people"
                  />
                </picture>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="projects-section-list-card">
              <div class="projects-section-list-card-info">
                <ul class="projects-card-info-list">
                  <li class="projects-card-info-list-item"><p>#react</p></li>
                  <li class="projects-card-info-list-item"><p>#js</p></li>
                  <li class="projects-card-info-list-item"><p>#node js</p></li>
                  <li class="projects-card-info-list-item"><p>#git</p></li>
                </ul>
                <p class="projects-section-list-card-info-text">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <a
                  class="projects-section-list-card-link"
                  href="https://github.com/remezovskyi2508/fullstack-developer-resume"
                  target="_blank"
                  >See project</a
                >
              </div>
              <div class="projects-section-list-card-image">
                <picture class="projects-section-list-card-image-img">
                  <source
                    srcset="
                      /img/projects/vocab-builder.webp    1x,
                      /img/projects/vocab-builder@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                    width="614"
                    height="385"
                  />
                  <source
                    srcset="
                      /img/projects/vocab-builder-mobl.webp    1x,
                      /img/projects/vocab-builder-mobl@2x.webp 2x
                    "
                    media="(max-width: 767px)"
                    width="311"
                    height="195"
                  />
                  <img
                    src="/img/projects/vocab-builder.webp"
                    alt="Registration form and two drawn students"
                  />
                </picture>
              </div>
            </div>
          </li>
        </ul>
        <div class="projects-nav">
          <button class="projects-button prev" type="button">
            <svg width="32" height="32">
              <use href="/img/icons.svg#projects-arrow"></use>
            </svg>
          </button>
          <button class="projects-button next" type="button">
            <svg width="32" height="32">
              <use href="/img/icons.svg#projects-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
