<section class="reviews">
  <div class="container">
    <div class="reviews-container">
      <h2 class="reviews-title">Reviews</h2>
      <div class="reviews-swiper-container">
        <ul class="reviews-list swiper-wrapper"></ul>
        <div class="reviews-button-wrapper">
          <button class="reviews-swiper-button-prev">
            <svg class="reviews-swiper-button-prev-svg">
              <use href="/img/icons.svg#icon-reviews-right"></use>
            </svg>
          </button>
          <button class="reviews-swiper-button-next">
            <svg class="reviews-swiper-button-next-svg">
              <use href="/img/icons.svg#icon-reviews-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
