@import url('accordion-js/dist/accordion.min.css');
@import url('swiper/css/bundle');

/*================ MOBILE STYLE  ======================*/
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 64px auto 32px auto;
}

.about-me-description {
  width: 100%;
  height: 500px;
  background-color: #242527;
  border-radius: 24px;
  overflow: hidden;
}
.about-me-img {
  object-fit: cover;
  height: 100%;
}

.about-me-parag {
  margin: 0 auto;
  padding-top: 32px;
  width: 260px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.about-me-span {
  color: #ed3b44;
}
.about-me-span-2 {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-list {
  margin-bottom: 32px;
}

.about-me-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.about-me-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.about-me-btn.ac-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 0px;
  width: 100%;
  height: 36px;
  background-color: #1c1d20;
  border: none;
}

.span-svg {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 36px;
  height: 36px;
}

.about-me-svg {
  width: 18px;
  height: 18px;
}

.is-active-svg .about-me-svg {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.first-paragrah {
  padding-bottom: 32px;
}

.about-me-li::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(250, 250, 250, 0.2);
  margin-top: 20px;
}

.about-me-grid {
  font-weight: 500;
  color: #fafafa;
}

.role-list > li,
.education-list > li {
  padding-bottom: 10px;
}

.about-me-skills-list {
  width: 260px;
}

.about-me-skills-li {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: #1c1d20;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 375px) {
  .about-me-description {
    width: 343px;
  }
  .about-me-parag {
    width: 279px;
  }
  .about-me-description {
    width: 100%;
    height: 500px;
    background-color: #242527;
    border-radius: 24px;
    overflow: auto;
  }
  .about-me-img {
    object-fit: none;
  }
}

/*================ TABLET STYLE  ======================*/
@media only screen and (min-width: 768px) {
  .about-me {
    margin-bottom: 64px;
  }

  .about-me-description {
    width: 704px;
    height: 700px;
  }

  .about-me-parag {
    padding-top: 64px;
    width: 576px;
    font-size: 38px;
    line-height: 105%;
  }

  .about-me-header-wrapper {
    margin-bottom: 8px;
  }
  .about-me-btn.ac-trigger {
    height: 40px;
  }

  .span-svg {
    width: 40px;
    height: 40px;
  }

  .about-me-svg {
    width: 20px;
    height: 20px;
  }

  .second-paragrah {
    padding-bottom: 12px;
  }

  .about-me-skills-list {
    width: 600px;
  }

  .about-me-skills-li {
    width: 200px;
    height: 200px;
  }

  .skills-text {
    font-size: 20px;
  }
}

/*================ DESKTOP STYLE  ======================*/
@media only screen and (min-width: 1440px) {
  .about-me {
    width: 1376px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 96px;
  }

  .about-me-description {
    width: 680px;
    height: 700px;
  }

  .about-me-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-me-paragrah,
  .role-list,
  .education-list {
    grid-column-start: 2;
  }

  .about-me-paragrah {
    width: 612px;
  }

  .education-list {
    width: 465px;
  }

  .about-me-skills-list {
    width: 1200px;
  }

  .about-me-skills-li {
    width: 200px;
    height: 200px;
  }
}

/*==============  ACORDEON  ==================*/

.ac-panel {
  display: none;
}

.ac {
  background-color: transparent;
  border: none;
}
.ac-trigger {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 0px;
  width: 40px;
  height: 40px;
}
.ac .ac-trigger::after {
  content: '';
}

/*==============  SWIPER  ==================*/
.about-me-swiper-box {
  display: flex;
  align-items: center;
}

.about-me-swiper-container {
  width: 260px;
}

.about-me-swiper-container .swiper-slide-active {
  background-color: var(--flame-red-color);
  transition: background-color 1s;
}

.about-me-swiper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  stroke: var(--main-text-color);
  fill: transparent;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.5);
  cursor: pointer;
}

.about-me-swiper-btn:hover {
  background-color: var(--main-text-color);
  stroke: var(--arrow-color);
}

@media only screen and (min-width: 768px) {
  .about-me-swiper-box {
    gap: 64px;
  }

  .about-me-swiper-container {
    width: 600px;
  }

  .about-me-swiper-btn {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-swiper-box {
    gap: 72px;
  }

  .about-me-swiper-container {
    width: 1200px;
  }
}
