* {
  box-sizing: border-box;
}
:root {
  --main-bg-color: #1c1d20;
  --content-bg-color: #242527;
  --arrow-color: #3B3B3B;
  --flame-red-color: #ED3B44;
  --main-text-color: #fafafa;
}

body {
  background-color: var(--main-bg-color);;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

/* Style for empty/hidden Header */
.visually-hidden {
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}