.header-container {
  position: relative;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  max-width: 375px;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo {
  display: flex;
  justify-content: space-between;
}

.logo-block {
  display: flex;
}

.titel-logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  width: 84px;
  height: 19px;
  padding-left: 8px;
}

.modal-overley {
  left: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  position: fixed;
}

.modal-overley.is-open {
  display: flex;
  opacity: 1;
  visibility: visible;
  background-image: url(../img/header/mobile-menu.png);
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 302px 16px 64px;
  z-index: 40;
  overflow: hidden;
  transition: left 0.8s ease;
}

.modal-overley .nav-menu {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  z-index: 50;
  opacity: 1;
  max-height: 0;
  overflow: visible;
  transition: opacity 0.5s ease, max-height 0.1s ease;
}

.box-menu a:hover,
.box-menu a:focus {
  text-decoration: underline;
  color: var(--flame-red-color);
}

.nav-menu.is-open {
  opacity: 1;
  max-height: 100px;
  transition: opacity 0.5s ease, max-height 1s ease;
}

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-menu-btn {
  border: none;
  background: transparent;
  margin-left: auto;
}

.modal-close-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 32px;
  right: 32px;
}

.contacts-menu-submit {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  color: #fafafa;
  padding: 14px;
  border-radius: 60px;
  border: none;
  width: 164px;
  height: 45px;
  background: #ed3b44;
  justify-content: center;
  align-items: center;
}
.contacts-menu-submit:hover,
.contacts-menu-submit:focus {
  background-color: #e0373f;
}

.tumb-menu {
  display: none;
}

.header-container .contacts-menu-submit {
  display: none;
}

.header {
  position: absolute;
  top: 32px;
  left: 16px;
  right: 16px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 704px;
  }

  .logo-block {
    display: flex;
    margin-right: 135px;
  }

  .tumb-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 135px;
  }

  .titel-menu {
    display: flex;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
  }

  .titel-menu:hover {
    cursor: pointer;
  }

  .titel-menu:hover,
  .titel-menu:focus,
  .titel-menu.active {
    text-decoration: underline;
  }

  .nav-menu {
    margin-top: 0;
  }

  .nav-menu {
    opacity: 0;
    overflow: hidden;
  }

  .header-menu-btn {
    display: none;
  }

  .modal-close-btn {
    display: none;
  }

  .header-container .contacts-menu-submit {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1376px;
  }

  .logo-block {
    display: flex;
    margin-right: 470px;
  }

  .tumb-menu {
    display: flex;
    margin-right: 470px;
  }

  .titel-menu {
    padding: 10px;
  }

  .header-menu-btn {
    display: none;
  }

  .modal-close-btn {
    display: none;
  }
}
