.header-container {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: 80px;
    padding: 32px 16px;
    background: transparent;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    justify-content: space-between;
}
.logo-block {
    display: flex;
}
.titel-logo {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    width: 84px;
    height: 19px;
    padding-left: 8px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-overley {
    display: flex;
    background-image: url(../img/header/mobile-menu.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-bottom: 64px;
}
 .modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;   
    justify-content: space-between;
    align-items: center;
} 

.nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 302px;   
}

.section-menu {
    display: flex;
            flex-direction: column;
            align-items: center;
}
.header-menu-btn {
    border: none;
    background: transparent;
    margin-left: auto;
}
.modal-close-btn {
    border: none;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;

}

.contacts-menu-submit {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #FAFAFA;
    padding: 14px;
    border-radius: 60px;
    border: none;
    width: 164px;
    height: 45px;
    background: #ED3B44;
    justify-content: center;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .is-open {
    display: none;
}
}

@media screen and (min-width: 1440px) {

}