/* .hero {
  width: 375px;
  height: 812px;
  padding: 32px 0;
  background: linear-gradient(
    90deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );
  background-image: url('/img/hero/Hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% center;
} */

.hero-title {
  font-family: var(--font-family);
  line-height: 100%;
  color: var(--main-text);
  padding-top: 281px;
  padding-bottom: 213px;
  padding-left: 16px;
  padding-right: 16px;
}

.hero-navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 342px;
  height: 37px;
  gap: 4px;
}
.hero-navigation-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
}

.hero-navigation-item-mail {
  width: 178px;
  height: 37px;
}

.hero-navigation-link {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* .hero {
    width: 768px;
    height: 1024px;
  } */

  .hero-title {
    font-size: 90px;
    width: 632px;
    padding-top: 300px;
    padding-bottom: 187px;
    padding-left: 32px;
  }
  .hero-navigation-list {
    display: flex;
    justify-content: flex-end;

    width: 473px;
    height: 55px;
    gap: 8px;
    margin-left: auto;
  }
  .hero-navigation-item {
    padding: 18px 20px;
    width: 55px;
    height: 55px;
  }
  .hero-navigation-item-mail {
    width: 223px;
    height: 55px;
  }
  .hero-navigation-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  /* .hero {
    width: 1440px;
    height: 900px;
  } */
  .hero-title {
    font-size: 90px;
    width: 1084px;
    padding-top: 300px;
    padding-bottom: 243px;
    padding-left: 178px;
  }
}
