/*375 
.hero {
  height: 100%;
  padding: 32px 0;
  background: linear-gradient(
    90deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );
  background-image: url('/img/hero/Hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% center;
}

.hero-title {
  margin-top: calc(249px - 25px);
}

.hero-navigation {
  margin-top: calc(212px - 72px);
}

.hero-navigation-list {
  display: flex;
  flex-wrap: wrap;
  height: 37px;
}

.hero-navigation-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 8px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.hero-navigation-link {
  font-size: 14px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fafafa;
  text-decoration: none;
}
.hero-navigation-item:last-child {
  margin-right: 0;
}

.hero-navigation-link-email{
  width: 154px;
}

.hero-navigation-item-mail {
  border-radius: 60px;
  padding: 10px 24px;
  height: 37px;
  width: 178px;
}

*/

.hero {
  height: 100%;
  padding: 32px 0;
  background: linear-gradient(
    90deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );
  background-image: url('/img/hero/Hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% center;
}

.hero-glas-effect {
  background-image: url(/img/hero/Glass\ effect\ 1.png);
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: calc(249px - 25px);
}

.hero-navigation {
  margin-top: calc(212px - 72px);
}

.hero-navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.hero-navigation-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-navigation-item:hover {
  border: 1px solid #fafafa;
}
.hero-navigation-link {
  padding: 10px 8px;
  font-size: 14px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fafafa;
  text-decoration: none;
}

.hero-navigation-link-email {
  width: 154px;
}

.hero-navigation-item-mail {
  border-radius: 60px;
  padding: 10px 24px;
  height: 37px;
  width: 100%;
}

@media screen and (min-width: 359px) {
  .hero-title {
    margin-top: 249px;
  }
  .hero-navigation {
    margin-top: calc(212px - 47px);
  }
}

@media screen and (min-width: 375px) {
  .hero-navigation {
    margin-top: 212px;
  }
  .hero-navigation-list {
    display: flex;
    flex-wrap: nowrap;
    height: 37px;
    gap: unset;
  }

  .hero-navigation-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
  }

  .hero-navigation-link {
    padding: 10px 8px;
    font-size: 14px;
    max-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fafafa;
    text-decoration: none;
  }
  .hero-navigation-item:last-child {
    margin-right: 0;
  }

  .hero-navigation-link-email {
    width: 154px;
  }

  .hero-navigation-item-mail {
    border-radius: 60px;
    padding: 10px 24px;
    height: 37px;
    width: 178px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 632px;
    font-size: 90px;
    margin-top: 268px;
  }
  .hero-navigation {
    margin-top: 187px;
  }
  .hero-navigation-item {
    width: 55px;
    height: 55px;
    margin-right: 8px;
  }
  .hero-navigation-list {
    justify-content: flex-end;
    width: 100%;
    height: 55px;
  }
  .hero-navigation-item-mail {
    padding: 18px 24px;
    width: 223px;
  }
    .hero-navigation-link-email {
      width: 175px;
    }
  .hero-navigation-link {
    font-size: 16px;
    padding: 18px 18px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    width: 1084px;
    justify-content: center;
  }

  .hero-navigation {
    margin-top: 243px;
  }
}
